@model ManagerUI.Models.ItemIndexViewModel
@using CatalogData

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Catalog Item - " + Model.CatalogItem.CMCID;

    CMEntities db = new CMEntities();
}

<script>
    // On start
    $(document).ready(function () {
        EnableUiiCode();
    });

    function BackToCatalogItemsList() {
        window.location.href = "@Url.Action("CatalogItemsList", "Catalog")";
    }

    function Deactivate(id) {
        window.location.href = "@Url.Action("CatalogItems_Deactivate", "Catalog")" + "?cmcid=" + id;
    }

    function Restore(guid, id) {
        window.location.href = "@Url.Action("CatalogItems_Restore", "Catalog")" + "?guid=" + guid + "&cmcid=" + id;
    }

    function EnableUiiCode() {
        var checked = $("#chkIsUii").is(":checked");
        $("#txtUiiCode").attr("disabled", !checked);
    }

</script>

<div class="container mt-3 justify-content-center" style="width:100%;">
    <div class="row" style="width:100%;">
        <div class="col-1 mr-2">
            <button class="btn btn-outline-info m-3" onclick="BackToCatalogItemsList()" style="font-size:10px;">
                <i class="fa fa-arrow-left"></i>&#9;Catalog Items List
            </button>
        </div>
        <div class="col-10 ml-2">
            <div class="row m-3">
                <div class="col-12">
                    <div class="card">
                        @using (Html.BeginForm("CatalogItems_Edit", "Catalog", FormMethod.Post))
                        {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CatalogItem.Id)

                        <div class="card-header">
                            <div class="row">
                                <div class="col-10">
                                    <h4>Item #@Model.CatalogItem.CMCID</h4>
                                </div>
                                <div class="col-2 justify-content-center">
                                    <div class="row justify-content-center">
                                        <button type="submit" title="Save" class="btn btn-outline-success m-1"><i class="fa fa-save"></i></button>
                                        <button type="button" onclick="Deactivate('@Model.CatalogItem.CMCID')" title="Deactivate" class="btn btn-outline-danger m-1"><i class="fa fa-minus-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h6><strong>Component</strong></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <strong>Id</strong>
                                </div>
                                <div class="col-2">
                                    @Model.CatalogItem.ComponentId
                                </div>
                                <div class="col-3">
                                    <strong>Description</strong>
                                </div>
                                <div class="col-5">
                                    @Model.Component.Description
                                </div>
                                <div class="col-2">
                                    <strong>UII (Id)</strong>
                                </div>
                                <div class="col-2">
                                    @Model.CatalogItem.ComponentUiiId
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <h6><strong>Component Type</strong></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <strong>Id</strong>
                                </div>
                                <div class="col-2">
                                    @Model.CatalogItem.ComponentTypeId
                                </div>
                                <div class="col-3">
                                    <strong>Description</strong>
                                </div>
                                <div class="col-6">
                                    @Model.ComponentType.CompTypeDescription
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <h6><strong>Material Category</strong></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <strong>Id</strong>
                                </div>
                                <div class="col-2">
                                    @Model.CatalogItem.MaterialCategoryId
                                </div>
                                <div class="col-3">
                                    <strong>Description</strong>
                                </div>
                                <div class="col-6">
                                    @Model.MaterialCategory.MatCatDescription
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <h6><strong>Details</strong></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <strong>Adj. Factor</strong>
                                </div>
                                <div class="col-3">
                                    @Model.CatalogItem.AdjFactor
                                </div>
                                <div class="col-3">
                                    <strong>CII</strong>
                                </div>
                                <div class="col-3">
                                    @Model.CatalogItem.CII
                                </div>
                                <div class="col-3">
                                    <strong>Task List Id</strong>
                                </div>
                                <div class="col-3">
                                    @Model.CatalogItem.TaskListId
                                </div>
                                <div class="col-3">
                                    <strong>UoM</strong>
                                </div>
                                <div class="col-3">
                                    @Model.CatalogItem.UoM
                                </div>
                                <div class="col-3">
                                    <strong>Use Alt. Desc.</strong>
                                </div>
                                <div class="col-3">
                                    @Model.CatalogItem.UseAltDesc
                                </div>
                                <div class="col-3">
                                    <strong>Created By</strong>
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-12">
                                            @Model.CatalogItem.AspNetUser.UserName
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <span style="font-size:10px;">@Model.CatalogItem.CreationDate.Value.ToString()</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h6>Catalog Item History</h6>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-hover" style="font-size: 10px;">
                                <thead class="thead-dark">
                                    <th scope="col">CMCID</th>
                                    <th scope="col">Component Id</th>
                                    <th scope="col">Component Type Id</th>
                                    <th scope="col">Material Category Id</th>
                                    <th scope="col">Adj. Factor</th>
                                    <th scope="col">CII</th>
                                    <th scope="col">Task List Id</th>
                                    <th scope="col">UoM</th>
                                    <th scope="col">Use Alt. Desc.</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col">Created Date</th>
                                    <th scope="col">Restore</th>
                                </thead>
                                    <tbody>
                                        @if (Model.History.Count() == 0)
                                        {
                                        <tr>
                                            <td colspan="12" style="text-align:center;">There are no previous states for this Catalog Item.</td>
                                        </tr>
                                        }
                                        else
                                        {
                                        foreach (CatalogItem item in Model.History)
                                        {
                                        <tr>
                                            <td>@item.CMCID</td>
                                            <td>@item.ComponentId</td>
                                            <td>@item.ComponentTypeId</td>
                                            <td>@item.MaterialCategoryId</td>
                                            <td>@item.AdjFactor</td>
                                            <td>@item.CII</td>
                                            <td>@item.TaskListId</td>
                                            <td>@item.UoM</td>
                                            <td>@item.UseAltDesc</td>
                                            <td><a href="@Url.Action(" Index", "User" , new { userId=item.AspNetUser.Id })">@item.AspNetUser.UserName</a></td>
                                            <td>@item.CreationDate</td>
                                            <td class="text-center"><a onclick="Restore('@item.Id', '@item.CMCID')" href="#"><i class="fa fa-hourglass" style="font-size:10px;"></i></a></td>
                                        </tr>
                                        }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
    </div>
</div>

